# Problem Set #2
## CSCI 3287 
<figure width=100%>
  <IMG SRC="https://www.colorado.edu/cs/profiles/express/themes/cuspirit/logo.png" WIDTH=50 ALIGN="right">
</figure>

## Modify this cell and put your Name and email

Name: Jonathan Hu

Email: johu5262@colorado.edu

## Instructions / Notes:

**_Read these carefully_**

* You **may** create new Jupyter notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact! 
* However, you you must clearly mark the solution to each sub-problem by having your solution in the cell immediately after the cells marked ```### BEGIN SOLUTION``` 
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql 
    [SQL]` is for _multi line_ SQL queries

### Submission Instructions:
 1. Commit your changes to your local repository.
 2. Push your changes to the remote repository in Git Classroom.
 3. Print your notebook as a PDF document and submit the PDF in Moodle.
    * Do _NOT_ submit your iPython notebook -- instead, you should submit a PDF. 
    * To create a PDF from your notebook takes two steps:
        1 select `File` -> `Export Notebook As..` -> `HTML`,
        2 open the HTML document in a browser and print it to a PDF file.
        
If you run into problems with a query taking a very very long time, first try `Kernel` -> `Restart All and Run All Cells..` and then ask on Piazza

 _Have fun!_

## Constraints and Triggers Review

Constraints and triggers are tools to impose restrictions on allowable data within a database, beyond the requirements imposed by table definition types.

**Constraints**, also known as _integrity constraints_, are used to constrain allowable database states.  They prevent disallowed values from being entered into the database. 
* non-null constraints
  * `create Table MyTable(myValue dataType NOT NULL);`
* key or uniqueness constraints 
  * `create Table MyTable(myId int PRIMARY KEY);`
  * `create Table MyTable(myValue1 dataType, myValue2 dataType, UNIQUE(myValue1,myValue2));`
* attribute restrictions
  * `create Table MyTable(myValue dataType check(myValue > 0))`
* referential integrity  (a.k.a. foreign keys)
  * `create Table MyTable(otherId int, foreign key(otherId) references OtherTable(otherColumn))`

**Triggers** are procedures that get run when specified events in a database view or table occur.  They are useful for implementing monitoring logic at the database level.
* delete/update/insert
* before/after/instead of
* when(condition)
* row-level/statement level

## Question 1 - Constraints [10 pts]

Write CREATE TABLE declarations with the necessary constraints for the following 4 tables and their specifications:

* `Student(sID, name, parentEmail, gpa)`
  * `sID (should be unique)`
  * `name (should exist)`
  * `parentEmail(should exist)`
  * `gpa (real value between 0 and 4 inclusive)`
* `Class(cID, name, units)`
  * `cID (should be unique)`
  * `name (should exist)`
  * `units (must be between 1 and 5 inclusive)`
* `ClassGrade(sID, cID, grade)`
  * `sID (should reference a student)`
  * `cID (should reference a class)`
  * `grade (integer between 0 and 4 inclusive, for F,D,C,B,A)`
  * `student can only get 1 grade for each class`
* `ParentNotification(parentEmail, text)`
  * `parentEmail (should exist)`
  * `text (the message body, should exist)`

Constraints, such as the value for `grade`, **must** use `check` to check that constraint.

### Make sure you have a mysql.cfg file created.
You need to create a configuration file to access MySQL from this notebook. Create the configuration file *mysql.cfg* in the directory above the repository for the assignment.  This will allow you to use the same configuration file for all assignments.
You should have received a configuration email with the details of your MySQL database access.
The configuaration file should have the user, password, and url fields in the mysql section.  All this information can be copied from the email.

In [1]:
import os
import configparser

mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("../mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/{user}"
print (f"mysql://{user}:xxxx@applied-sql.cs.colorado.edu:3306/{user}")

os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagi

mysql://johu5262:xxxx@applied-sql.cs.colorado.edu:3306/johu5262

In [2]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.27',)]

Write your table definitions here. **Format your definitions so they are readable.**

In [41]:
### BEGIN SOLUTION

In [56]:
%%sql
DROP TABLE IF EXISTS ;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.

[]

In [57]:
%%sql
CREATE TABLE Student (
    sID INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    parentEmail VARCHAR(255) NOT NULL,
    gpa REAL CHECK (gpa >= 0 AND gpa <= 4)
);
CREATE TABLE Class (
    cID INT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    units INT CHECK (units >= 1 AND units <= 5)
);
CREATE TABLE ClassGrade (
    sID INT,
    cID INT,
    grade INT CHECK (grade >= 0 AND grade <= 4),
    PRIMARY KEY (sID, cID),
    FOREIGN KEY (sID) REFERENCES Student(sID),
    FOREIGN KEY (cID) REFERENCES Class(cID)
);
CREATE TABLE ParentNotification (
    parentEmail VARCHAR(255) NOT NULL,
    text TEXT NOT NULL
);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [58]:
### END SOLUTION

## Question 2 - Triggers Introduction [20 pts in two parts of 10pts each]

Triggers are used to execute sql commands upon changes to the specified tables.  
Documentation on Trigger support in MySQL can be found [here](https://dev.mysql.com/doc/refman/8.0/en/trigger-syntax.html).

The following is an example of a trigger in MySQL.

In [59]:
%%sql
drop table if exists Employee;
drop table if exists Department;
drop trigger if exists update_employee_count;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [60]:
%%sql
create table Employee(eID int, name text, dID int);
create table Department(dID int, name text, employee_count int);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.
0 rows affected.

[]

In [61]:
%sql SHOW TABLES

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
6 rows affected.

[('Class',),
 ('ClassGrade',),
 ('Department',),
 ('Employee',),
 ('ParentNotification',),
 ('Student',)]

In [62]:
%%sql
create trigger update_employee_count
after insert on Employee
for each row
begin
  update Department set employee_count = employee_count + 1 where
  dID = new.dID;
end;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.

[]

Note that there is a difference between OLD values and NEW values in triggers that execute on statements that change values in a table.  Both the WHEN clause and the trigger actions may access elements of the row being inserted, deleted or updated using references of the form "NEW.column-name" and "OLD.column-name", where column-name is the name of a column from the table that the trigger is associated with.  Triggers on INSERT statements (like that above) can only access the NEW values (since OLD values don't exist!) and triggers on DELETE statements can only access OLD values.

Let's continue by adding data to the tables.

In [63]:
%%sql
insert into Department values(1,'HR',0);
insert into Department values(2,'Engineering',0);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
1 rows affected.
1 rows affected.

[]

At this point, there are no empoloyees in the Employee table.  As you can see below, each department has 0 employees.

In [64]:
%%sql
select name, employee_count
from Department;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
2 rows affected.

[('HR', 0), ('Engineering', 0)]

When we insert several employees into the Employee table, the trigger should fire and update values in the Department table.

In [65]:
%%sql
insert into Employee values
(1,'Todd',1),(2,'Jimmy',1),(3,'Billy',2);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
3 rows affected.

[]

Now when we view the employee table, we see that the employee count has been updated by the trigger.

In [66]:
%%sql
select name, employee_count
from Department;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
2 rows affected.

[('HR', 2), ('Engineering', 1)]

Now, it's your turn!  Write a MySQL trigger on the ClassGrade table you defined earlier.  On each insertion into the ClassGrade table, the trigger should update the GPA of the corresponding student.
* `gpa = sum(units*grade)/sum(units)`

First, let's load data into the tables:

In [67]:
%%sql
insert into Student values(1,'Timmy','timmysmom@gmail.com', 0.0);
insert into Student values(2,'Billy','billysmom@gmail.com',0.0);
insert into Class values(1, 'CS3287',4);
insert into Class values(2,'CS4122',3);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [68]:
%%sql
select * from Student;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
2 rows affected.

[(1, 'Timmy', 'timmysmom@gmail.com', 0.0),
 (2, 'Billy', 'billysmom@gmail.com', 0.0)]

### Now, write your trigger here [10pts]

In [69]:
### BEGIN SOLUTION

In [70]:
%%sql
CREATE TRIGGER update_student_gpa
AFTER INSERT ON ClassGrade
FOR EACH ROW
BEGIN
    DECLARE total_units INT;
    DECLARE total_grade FLOAT;

    -- Calculate the total units and total grade for the student
    SELECT SUM(c.units) INTO total_units
    FROM ClassGrade cg
    JOIN Class c ON cg.cID = c.cID
    WHERE cg.sID = NEW.sID;

    SELECT SUM(cg.grade * c.units) INTO total_grade
    FROM ClassGrade cg
    JOIN Class c ON cg.cID = c.cID
    WHERE cg.sID = NEW.sID;

    -- Calculate and update the GPA for the student
    UPDATE Student
    SET gpa = total_grade / total_units
    WHERE sID = NEW.sID;
END;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.

[]

In [71]:
### END SOLUTION

Now, write a second trigger here that inserts a row in `ParentNotification` with the parent's email and a message.  The trigger should execute whenever a `Student` record is updated with a new GPA and that GPA is < 2.0.

A trigger like this can have a format similar to the following in MySQL (see documentation for correct syntax):
```
create trigger XYZ
    after update on myTable
    for each row 
    begin
        if (condition in myTable) then
            insert/update/delete etc.
        end if
     end
```

You may want to [look at the MySQL operators page](https://dev.mysql.com/doc/refman/8.0/en/string-functions.html) to see how to do string concatenation.

### Write your trigger here: [10pts]

In [72]:
### BEGIN SOLUTION

In [73]:
%%sql

CREATE TRIGGER notify_low_gpa
AFTER UPDATE ON Student
FOR EACH ROW
BEGIN
    IF NEW.gpa < 2.0 THEN
        INSERT INTO ParentNotification (parentEmail, text)
        VALUES (NEW.parentEmail, CONCAT('Your child (sID: ', NEW.sID, ') has a low GPA.'));
    END IF;
END;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.

[]

In [74]:
### END SOLUTION

We can now test the triggers.

In [75]:
%%sql
insert into ClassGrade values(1,1,2);
insert into ClassGrade values(1,2,1);
insert into ClassGrade values(2,1,1);
select * from ParentNotification;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
1 rows affected.
1 rows affected.
1 rows affected.
2 rows affected.

[('timmysmom@gmail.com', 'Your child (sID: 1) has a low GPA.'),
 ('billysmom@gmail.com', 'Your child (sID: 2) has a low GPA.')]

## Question 3 - Advanced Triggers [20 pts in one part]

Triggers can execute BEFORE, AFTER, or INSTEAD OF the sql statements that trigger them.  The SQL providers warn that programmers should be very wary when executing BEFORE or INSTEAD OF triggers.

> If a BEFORE UPDATE or BEFORE DELETE trigger modifies or deletes a row that was to have been updated or deleted, then the result of the subsequent update or delete operation is undefined. Furthermore, if a BEFORE trigger modifies or deletes a row, then it is undefined whether or not AFTER triggers that would have otherwise run on those rows will in fact run.

> The value of NEW.rowid is undefined in a BEFORE INSERT trigger in which the rowid is not explicitly set to an integer.

> Because of the behaviors described above, programmers are encouraged to prefer AFTER triggers over BEFORE triggers.

Triggers are one of the unfortunate areas where SQL implementations differ greatly.  The correct semantics for a row-level “after” trigger, according to the SQL standard, is to activate the trigger after the entire triggering data modification statement completes, executing the trigger once for each modified row. PostgreSQL implements these semantics as does [MySQL](https://dev.mysql.com/doc/refman/5.5/en/trigger-syntax.html). SQLite instead implements semantics where the trigger is activated immediately after each row-level change, interleaving trigger execution with execution of the modification statement.

Finally, MySQL supports a SIGNAL function.  The function can be used to halt the execution of a trigger and the statement that caused it.  Here's an example that would prevent students from getting a grade in CS 5817 until they've gotten a B or better in CS 3287.

In [76]:
%%sql
insert into Class values (3,'CS5817',3);
insert into Student values (3,'Johnny', 'johnnysmom@gmail.com', 0.0);
insert into ClassGrade values (3,1,4);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [77]:
%%sql
drop trigger if exists enforce_cs5817_prereqs;
create trigger enforce_cs5817_prereqs
before insert on ClassGrade
for each row
begin
    if exists (
        Select * 
        from Class c1
        where c1.cID = new.cID
        and c1.name = 'CS5817'
        and new.sID not in (
            Select cg.sID
            from Class c2, ClassGrade cg
            where c2.cID = cg.cID
            and c2.name = 'CS3287'
            and cg.grade > 2)
    ) then
        SIGNAL SQLSTATE '45000'
          SET MESSAGE_TEXT = 'A student must pass CS 3287 before taking CS 5817', MYSQL_ERRNO = 1001;
    end if;
end;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.
0 rows affected.

[]

With our trigger, student number 3, Johnny, should be able to take CS 5817 since he got an A in CS 3287.

In [78]:
%%sql
insert into ClassGrade values (3,3,4.0);

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
1 rows affected.

[]

In [79]:
%%sql select Student.name, Student.sID, Class.name, Class.cID, ClassGrade.grade 
from Class, ClassGrade,Student
WHERE Class.cID = ClassGrade.cID
AND Student.sID = ClassGrade.sID

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
5 rows affected.

[('Timmy', 1, 'CS3287', 1, 2),
 ('Timmy', 1, 'CS4122', 2, 1),
 ('Billy', 2, 'CS3287', 1, 1),
 ('Johnny', 3, 'CS3287', 1, 4),
 ('Johnny', 3, 'CS5817', 3, 4)]

As you can see, Johnny had no trouble getting a grade in the class.  Now, if we try to enter a grade for Student 1, it should fail due to our trigger.  It will present a rollback message if the trigger executes.

In [80]:
try:
    result = %sql insert into ClassGrade values (1,3,4.0);
    print(result)
except Exception as err:
    print("Error", err)

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
(MySQLdb.OperationalError) (1001, 'A student must pass CS 3287 before taking CS 5817')
[SQL: insert into ClassGrade values (1,3,4.0);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
None

Now, it's your turn!  Write a trigger that prevents a student from getting a grade in any class when there are pending emails in the ParentNotification table for that student's parent.
### Write your solution here [20 pts]

In [25]:
### BEGIN SOLUTION

In [81]:
%%sql
CREATE TRIGGER prevent_grades_with_pending_emails
BEFORE INSERT ON ClassGrade
FOR EACH ROW
BEGIN
    DECLARE parent_email VARCHAR(255);
    
    -- Get the parent email for the student
    SELECT parentEmail INTO parent_email
    FROM Student
    WHERE sID = NEW.sID;
    
    -- Check if there are pending emails for the parent
    IF EXISTS (
        SELECT * 
        FROM ParentNotification
        WHERE parentEmail = parent_email
    ) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Cannot add a grade when there are pending emails for the parent',
            MYSQL_ERRNO = 1002;
    END IF;
END;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
0 rows affected.

[]

In [82]:
### END SOLUTION

Assuming your trigger is correct, this statement should succeed (note that it can only be executed once)

In [83]:
try:
    %sql insert into ClassGrade values (3,2,4);
    result = %sql select * from ClassGrade
except Exception as err:
    print("Error", err)
    result = 'Failed'
result

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
1 rows affected.
 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
6 rows affected.

[(1, 1, 2), (1, 2, 1), (2, 1, 1), (3, 1, 4), (3, 2, 4), (3, 3, 4)]

And this one shoud fail.

In [84]:
try:
    result = %sql insert into ClassGrade values(2,2,1);
    print(result)
except Exception as err:
    print("Error", err)

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/johu5262
(MySQLdb.OperationalError) (1002, 'Cannot add a grade when there are pending emails for the parent')
[SQL: insert into ClassGrade values(2,2,1);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
None