# CSCI 3287 - Queries Using Sub-Queries, With and Raw Joins
<div>
 <h2> CSCI 3287 
  <IMG SRC="https://www.colorado.edu/cs/profiles/express/themes/cuspirit/logo.png" WIDTH=50 ALIGN="right"/> </h2>
</div>

In [58]:
##
## Jonathan Hu, Johu5262@colorado.edu
##

In this assignment, we have two databases
* One contains information about patents
* One contains information about patent citations (one patent citing the work of another)

The problem we're going to solve is augmenting the original patent data to include the number of *co-state citations*. In other words, if patent X was issued to someone in Colorado and patent Y was also issued to someone in Colorado and X cites Y, then this is a co-state citation.

The easiest way to solve this is to build an intermediary product from the patent citations table. That table contains `CITING` and `CITED` columns; you would augment it by adding `CITING_STATE` and `CITED_STATE`. Then, it becomes fairly simple to filter out all the cases where those states don't match. You can then use an sql `GROUP BY` to `COUNT(*)` all the co-state citations for a given patent and then join that with the original patents table resulting in an augmented table.

The final results for patents sorted in descending order by co-state citations where the number of co-state citations are >= 45 looks like the following
![this final output](final-output.png)

You're going to be asked to solve this problem three different ways:
1. Using sub-queries -- you may need to review [using `select` in a where-clause or using multiple joins](https://dba.stackexchange.com/questions/33553/using-select-in-the-where-clause-of-another-select).
2. Using CTE `WITH` tables
3. Using just a single `SELECT` with multiple `JOIN` operations. Here, you'll probably need to [review the difference between `WHERE` and `HAVING`](https://dev.mysql.com/doc/refman/8.0/en/select.html)

The first and second problems will be very similar; once you've gotten the first working, the second is pretty easy but should be more readable. The last single-`SELECT` is different from the others but probably reflects the way a "true DB wizard" would think of the problem.

## Logistics

The following will load the SQL extension and connect to the `patent_citations` database using your MySQL credentials.

In [1]:
%reload_ext sql
%matplotlib inline
import configparser
import os

In [2]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/patent_citations"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic

Following this, we can run individual SQL queries and see the result by putting `%%sql` at the front of a cell. If you don't have that, you'll be running Python code.

So, for example, we can examine our two raw database tables.

In [3]:
%%sql
select count(*) from citations;

1 rows affected.

[(11372327,)]

In [5]:
%%sql
SELECT * FROM citations LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.

[(3858241, 956203),
 (3858241, 1324234),
 (3858241, 3398406),
 (3858241, 3557384),
 (3858241, 3634889)]

In [6]:
%%sql
select count(*) from patents;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
1 rows affected.

[(2923922,)]

In [6]:
%%sql
select * from patents limit 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.

[(3070801, 1963, 1096, '', 'BE', '', '', '1', '', '269', '6', '69', '', '1', '', '0', '', '', '', '', '', '', ''),
 (3070802, 1963, 1096, '', 'US', 'TX', '', '1', '', '2', '6', '63', '', '0', '', '', '', '', '', '', '', '', ''),
 (3070803, 1963, 1096, '', 'US', 'IL', '', '1', '', '2', '6', '63', '', '9', '', '0.3704', '', '', '', '', '', '', ''),
 (3070804, 1963, 1096, '', 'US', 'OH', '', '1', '', '2', '6', '63', '', '3', '', '0.6667', '', '', '', '', '', '', ''),
 (3070805, 1963, 1096, '', 'US', 'CA', '', '1', '', '2', '6', '63', '', '1', '', '0', '', '', '', '', '', '', '')]

There are actually duplicate entries in the citations dataset. We'll ignore these and count each duplicate as a "co-cite", but we should probably clean up that data in the future. This query can take a few minutes (up to 4 min) to complete.

In [7]:
%%sql
SELECT COUNT(Duplicates)
FROM (
   select CITING, COUNT(CITED)-COUNT(DISTINCT CITED) as Duplicates
   from citations
   GROUP BY CITING
   ORDER by Duplicates DESC
) as dups where Duplicates > 0
LIMIT 20;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
1 rows affected.

[(2915,)]

We've created indexes over the patent numbers in an effort to speed the queries; however, you'll still find that these queries take a while because the tables are large.

## Problem #1 - Listing citations

Our database has millions of rows, and we're going to want to identify the citations for the patents in presented output. Using the various SQL string functions, produce an output similar the following. I'm only showing the first two entries and my solution uses some tricks from the discussion of "when not to use strings":

![group by output](group-by-output.png)

In [7]:
%%time
%%sql

SELECT
    p.PATENT AS Patent,
    GROUP_CONCAT(c.CITED) AS CitedPatent
FROM
    patents p
JOIN
    citations c ON p.PATENT = c.CITING
WHERE p.PATENT IN (4512651, 4886118)
GROUP BY
    p.PATENT
LIMIT 2;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
2 rows affected.
CPU times: user 2.48 ms, sys: 913 Âµs, total: 3.4 ms
Wall time: 9.06 ms

[(4512651, '2649302,2822172,3008707,3222057,3227444,3318212,3408140,3409366,3416791,3466029,3476382,3484164,3506347,3536398,3547535,3548783,3552739,3556511,35565 ... (253 characters truncated) ... 80406,3997263,4040616,4043550,4062061,4078786,4078787,4089515,4099150,4099254,4109903,4116558,4140387,4146219,4158500,4169674,4229101,3536320,3547535'),
 (4886118, '2472445,2484063,2634961,2670802,2732195,2780450,2789805,2804149,2902270,2914309,2923535,2939689,2954826,3095031,3105545,3106244,3113620,3113623,31144 ... (589 characters truncated) ... 28853,4289204,4301865,4320801,4359091,4359627,4375302,4384613,4401162,4412585,4415034,4444258,4570715,4572299,4585066,4616705,4626665,4640352,4704514')]

## 2 - Solving using Sub-Queries

In order to determine when a *cited* patent and a *citing* patent are from the same state,
we're going to need to produce a series of tables that combine information from the citations and the patents tables. For problems 2A, 2B and 2C you should structure your queries using *subqueries* -- you'll build up a complex query by developing simpler queries and then using those as sub-queries in the final `SELCECT` in 2C. You may want to review [using `select` in a where-clause or using multiple joins](https://dev.mysql.com/doc/refman/8.0/en/subqueries.html).

### 2A - Add States to Citation entries

The first step in our solution is to augment the citations table so that each entry also lists the state of both the cited and citing patent numbers. An example of the first five entries for this step of the assignment would look like:
![group by output](citations-with-states.png)

We can use a simple left-outer join (or just `JOIN`) to get the information for one or the other column in the citations table. For example, we can determine the state for *cited* patents using this join:

In [8]:
%%time
%%sql

SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
FROM citations c
LEFT JOIN patents p1 ON c.CITED = p1.PATENT
LEFT JOIN patents p2 ON c.CITING = p2.PATENT
WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 4.76 ms, sys: 0 ns, total: 4.76 ms
Wall time: 10.7 ms

[(3398406, 'FL', 3858241, 'MA'),
 (3557384, 'MA', 3858241, 'MA'),
 (3634889, 'OH', 3858241, 'MA'),
 (3319261, 'OH', 3858242, 'MI'),
 (3668705, 'WI', 3858242, 'MI')]

Then, you'll need to do the same for the `CITING` column as well. Use `LIMIT` to show only the first 5 entries. Make certain that you filter out items where the states are empty or where the citations aren't in the patents table.

### 2B - Determining the Co-State Citations

Now, we group by the CITED patent and count the number of CITING references. This will tell us how often each patent is cited by other patents from the same state.

An example of the first five entries for this step of the assignment would look like:
![co-state citations count](co-state-citations-count.png)

You should structure this as a sub-query -- use the query from 2A as a sub-query and then `GROUP` and `ORDER` the results of the subquery. Make certain to `LIMIT` your output to 5 entries.

In [18]:
%%time
%%sql
SELECT CITING,COUNT(*) AS CO_CITED_COUNT
FROM (
    SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
    FROM citations c
    LEFT JOIN patents p1 ON c.CITED = p1.PATENT
    LEFT JOIN patents p2 ON c.CITING = p2.PATENT
    WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
) AS CitationStates
WHERE CITING_POSTATE = CITED_POSTATE
GROUP BY CITING
HAVING CO_CITED_COUNT >= 45
ORDER BY CO_CITED_COUNT DESC
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 7.52 ms, sys: 6.74 ms, total: 14.3 ms
Wall time: 1min 51s

[(5440221, 70), (5353875, 69), (5287741, 68), (5477167, 59), (5170920, 57)]

### 2C - Produce the Augmented Output

Now, to produce the full augmented table, we join with the original patents. Again, you probably want to use the solution from 2B as a sub-query. Although it seems silly to do this, you'll find that doing so avoids having to use things like `HAVING` clauses in the `SELECT`.

Only output items where the co-state citation count is >= 45. This should match the same output at the start of the notebook.

In [11]:
%%time
%%sql

SELECT p.PATENT, p.GYEAR, p.GDATE, p.APPYEAR, p.COUNTRY, p.POSTATE, p.ASSIGNEE, p.ASSCODE, p.CLAIMS, p.NCLASS, p.CAT, p.SUBCAT, p.CMADE, p.CRECEIVE, p.RATIOCIT, p.GENERAL, p.ORIGINAL, p.FWDAPLAG, p.BCKGTLAG, p.SELFCTUB, p.SELFCTLB, p.SECDUPBD, p.SECDLWBD, co_state_citations.CO_CITED_COUNT
FROM patents p
JOIN (
    SELECT CITING, COUNT(*) AS CO_CITED_COUNT
    FROM (
        SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
        FROM citations c
        LEFT JOIN patents p1 ON c.CITED = p1.PATENT
        LEFT JOIN patents p2 ON c.CITING = p2.PATENT
        WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
    ) AS CitationStates
    WHERE CITING_POSTATE = CITED_POSTATE
    GROUP BY CITING
    HAVING CO_CITED_COUNT >= 45
) AS co_state_citations ON p.PATENT = co_state_citations.CITING
ORDER BY co_state_citations.CO_CITED_COUNT DESC
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 9.84 ms, sys: 4.73 ms, total: 14.6 ms
Wall time: 1min 36s

[(5440221, 1995, 13003, '1992', 'US', 'TX', '683652', '2', '15', '320', '4', '45', '140', '13', '1', '0.6272', '0.915', '4.3077', '7.7143', '0', '0', '0', '0', 70),
 (5353875, 1994, 12702, '1993', 'US', 'TX', '238325', '2', '6', '166', '6', '64', '94', '9', '0.9468', '0.1975', '0.4908', '2.7778', '14.1809', '0.0536', '0.0319', '0', '0', 69),
 (5287741, 1994, 12471, '1992', 'US', 'TX', '238325', '2', '20', '73', '4', '43', '91', '12', '0.9451', '0.375', '0.5046', '3.5', '14.5385', '0.0566', '0.033', '0.0909', '0.0833', 68),
 (5477167, 1995, 13136, '1995', 'US', 'CA', '683457', '2', '6', '326', '4', '46', '87', '9', '1', '0.3704', '0.7798', '1.7778', '5.5517', '0.0482', '0.046', '0.5556', '0.5556', 59),
 (5170920, 1992, 12037, '1991', 'US', 'MI', '356950', '2', '15', '224', '6', '68', '103', '10', '0.7184', '0', '0.5175', '4.9', '24.8835', '0', '0', '0', '0', 57)]

## 3 - The Solution Using CTE `WITH` Clauses

In this part of the solution you're going to solve the same 3 problems but using CTE `WITH` statements.

### 3A - Co-State Citation

In [20]:
%%time
%%sql

WITH CitationStates AS (
    SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
    FROM citations c
    LEFT JOIN patents p1 ON c.CITED = p1.PATENT
    LEFT JOIN patents p2 ON c.CITING = p2.PATENT
    WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
)
SELECT *
FROM CitationStates
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 3.85 ms, sys: 0 ns, total: 3.85 ms
Wall time: 3.87 ms

[(3398406, 'FL', 3858241, 'MA'),
 (3557384, 'MA', 3858241, 'MA'),
 (3634889, 'OH', 3858241, 'MA'),
 (3319261, 'OH', 3858242, 'MI'),
 (3668705, 'WI', 3858242, 'MI')]

### 3B - Determining the Co-State Citations

In [19]:
%%time
%%sql

WITH CitationStates AS (
    SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
    FROM citations c
    LEFT JOIN patents p1 ON c.CITED = p1.PATENT
    LEFT JOIN patents p2 ON c.CITING = p2.PATENT
    WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
)

SELECT CITING, COUNT(*) AS CO_CITED_COUNT
FROM CitationStates
WHERE CITING_POSTATE = CITED_POSTATE
GROUP BY CITING
HAVING CO_CITED_COUNT >= 45
ORDER BY CO_CITED_COUNT DESC
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 11.7 ms, sys: 1.08 ms, total: 12.8 ms
Wall time: 1min 52s

[(5440221, 70), (5353875, 69), (5287741, 68), (5477167, 59), (5170920, 57)]

### 3C - Build the revised patent table using the co-state citation results

In [13]:
%%time
%%sql

WITH CitationStates AS (
    SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
    FROM citations c
    LEFT JOIN patents p1 ON c.CITED = p1.PATENT
    LEFT JOIN patents p2 ON c.CITING = p2.PATENT
    WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
)
SELECT p.PATENT, p.GYEAR, p.GDATE, p.APPYEAR, p.COUNTRY, p.POSTATE, p.ASSIGNEE, p.ASSCODE, p.CLAIMS, p.NCLASS, p.CAT, p.SUBCAT, p.CMADE, p.CRECEIVE, p.RATIOCIT, p.GENERAL, p.ORIGINAL, p.FWDAPLAG, p.BCKGTLAG, p.SELFCTUB, p.SELFCTLB, p.SECDUPBD, p.SECDLWBD, co_state_citations.CO_CITED_COUNT
FROM patents p
JOIN (
    SELECT CITING, COUNT(*) AS CO_CITED_COUNT
    FROM CitationStates
    WHERE CITING_POSTATE = CITED_POSTATE
    GROUP BY CITING
    HAVING CO_CITED_COUNT >= 45
) AS co_state_citations ON p.PATENT = co_state_citations.CITING
ORDER BY co_state_citations.CO_CITED_COUNT DESC
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 30 ms, sys: 1.55 ms, total: 31.5 ms
Wall time: 2min 33s

[(5440221, 1995, 13003, '1992', 'US', 'TX', '683652', '2', '15', '320', '4', '45', '140', '13', '1', '0.6272', '0.915', '4.3077', '7.7143', '0', '0', '0', '0', 70),
 (5353875, 1994, 12702, '1993', 'US', 'TX', '238325', '2', '6', '166', '6', '64', '94', '9', '0.9468', '0.1975', '0.4908', '2.7778', '14.1809', '0.0536', '0.0319', '0', '0', 69),
 (5287741, 1994, 12471, '1992', 'US', 'TX', '238325', '2', '20', '73', '4', '43', '91', '12', '0.9451', '0.375', '0.5046', '3.5', '14.5385', '0.0566', '0.033', '0.0909', '0.0833', 68),
 (5477167, 1995, 13136, '1995', 'US', 'CA', '683457', '2', '6', '326', '4', '46', '87', '9', '1', '0.3704', '0.7798', '1.7778', '5.5517', '0.0482', '0.046', '0.5556', '0.5556', 59),
 (5170920, 1992, 12037, '1991', 'US', 'MI', '356950', '2', '15', '224', '6', '68', '103', '10', '0.7184', '0', '0.5175', '4.9', '24.8835', '0', '0', '0', '0', 57)]

## 4 -- The Solution Using Multiple Joins

This solution uses multiple joins. As before, we want you to construct intermediate queries. **None** of the  queries should use sub-queries or `WITH` statements.

### 4A - Co-State Citation Using Multiple Joins

Build the co-state citation count using only joins. Make certain that citations without corresponding patents are ommitted as are those that have empty state information.

In [70]:
%%time
%%sql

SELECT c.CITED, p1.POSTATE AS CITED_POSTATE, c.CITING, p2.POSTATE AS CITING_POSTATE
FROM citations c
LEFT JOIN patents p1 ON c.CITED = p1.PATENT
LEFT JOIN patents p2 ON c.CITING = p2.PATENT
WHERE (p1.POSTATE != '') AND (p2.POSTATE != '')
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 4.31 ms, sys: 0 ns, total: 4.31 ms
Wall time: 8.83 ms

[(3398406, 'FL', 3858241, 'MA'),
 (3557384, 'MA', 3858241, 'MA'),
 (3634889, 'OH', 3858241, 'MA'),
 (3319261, 'OH', 3858242, 'MI'),
 (3668705, 'WI', 3858242, 'MI')]

### 4B - Build the count of Co-state citations per patent

As before, make certain we're not including empty states and only include patents that have a co-state cited count >= 45. The patents in this table should match the patents in the earlier solution but only include the patents and the co-state citation count. Here, you'll probably need to [review the difference between `WHERE` and `HAVING`](https://dev.mysql.com/doc/refman/8.0/en/select.html)

In [21]:
%%time
%%sql

SELECT c.CITING, COUNT(*) AS CO_CITED_COUNT
FROM citations c
LEFT JOIN patents p1 ON c.CITED = p1.PATENT AND p1.POSTATE != ''
LEFT JOIN patents p2 ON c.CITING = p2.PATENT AND p2.POSTATE != ''
WHERE p1.POSTATE = p2.POSTATE
GROUP BY c.CITING
HAVING CO_CITED_COUNT >= 45
ORDER BY CO_CITED_COUNT DESC
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 11.2 ms, sys: 872 Âµs, total: 12.1 ms
Wall time: 1min 49s

[(5440221, 70), (5353875, 69), (5287741, 68), (5477167, 59), (5170920, 57)]

### 4C - Build the revised patent table using the co-state citation results

Again, limit your output to the rows that have a co-state citation count >= 45.

In [22]:
%%time
%%sql

SELECT p.PATENT, p.GYEAR, p.GDATE, p.APPYEAR, p.COUNTRY, p.POSTATE, p.ASSIGNEE, p.ASSCODE, p.CLAIMS, p.NCLASS, p.CAT, p.SUBCAT, p.CMADE, p.CRECEIVE, p.RATIOCIT, p.GENERAL, p.ORIGINAL, p.FWDAPLAG, p.BCKGTLAG, p.SELFCTUB, p.SELFCTLB, p.SECDUPBD, p.SECDLWBD, COUNT(c.CITED) AS CO_CITED_COUNT
FROM patents p
JOIN citations c ON p.PATENT = c.CITING
LEFT JOIN patents p1 ON c.CITED = p1.PATENT AND p1.POSTATE != ''
LEFT JOIN patents p2 ON c.CITING = p2.PATENT AND p2.POSTATE != ''
WHERE p1.POSTATE = p2.POSTATE
GROUP BY p.PATENT
HAVING CO_CITED_COUNT >= 45
ORDER BY CO_CITED_COUNT DESC
LIMIT 5;

 * mysql://johu5262:***@applied-sql.cs.colorado.edu:3306/patent_citations
5 rows affected.
CPU times: user 8.02 ms, sys: 11.1 ms, total: 19.2 ms
Wall time: 1min 47s

[(5440221, 1995, 13003, '1992', 'US', 'TX', '683652', '2', '15', '320', '4', '45', '140', '13', '1', '0.6272', '0.915', '4.3077', '7.7143', '0', '0', '0', '0', 70),
 (5353875, 1994, 12702, '1993', 'US', 'TX', '238325', '2', '6', '166', '6', '64', '94', '9', '0.9468', '0.1975', '0.4908', '2.7778', '14.1809', '0.0536', '0.0319', '0', '0', 69),
 (5287741, 1994, 12471, '1992', 'US', 'TX', '238325', '2', '20', '73', '4', '43', '91', '12', '0.9451', '0.375', '0.5046', '3.5', '14.5385', '0.0566', '0.033', '0.0909', '0.0833', 68),
 (5477167, 1995, 13136, '1995', 'US', 'CA', '683457', '2', '6', '326', '4', '46', '87', '9', '1', '0.3704', '0.7798', '1.7778', '5.5517', '0.0482', '0.046', '0.5556', '0.5556', 59),
 (5170920, 1992, 12037, '1991', 'US', 'MI', '356950', '2', '15', '224', '6', '68', '103', '10', '0.7184', '0', '0.5175', '4.9', '24.8835', '0', '0', '0', '0', 57)]